<section class="container list">
  <div id="progress-bar"></div>
  <div>
    <iframe src="https://moderndataengineer.substack.com/embed" width="480" height="250"></iframe>
  </div>
  <!-- <h1 class="title-main">
    <a class="title-link" href=https://moderndataengineer.substack.com>
      {{- if eq .Kind "term" -}}
        {{- i18n .Data.Plural 1 | title -}}
        {{- print ": " -}}
      {{- end -}}
      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1> -->
  {{ range .Paginator.Pages }}
  <ul>
  <div class="post-container">
      <li>
        <a class="title-one" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      </li>
      <p class="excerpt">{{.Summary}}</p>
      <a class="read-more" href="{{ .Params.externalLink }}">Read more »</a>
  </div>
</ul>
{{ end }}

  {{ partial "pagination.html" . }}
</section>

<style>

.post-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px; /* Add rounded corners to the border */
  padding: 20px;
  margin-bottom: 40px;
  background-color: #40404034;
}
 .excerpt {
  margin-bottom: 10px; /* Adds space between "info" and excerpt */
  text-align: left; /* Aligns the link to the right */
  line-height: 1.8; /* Adjust the line height to your preference */
  font-size: 16px;
 }

 .read-more {
  display: block; /* Makes the "Read more" link a block element */
  margin-top: 30px; /* Adds space above the "Read more" link */
  margin-bottom: 10px;
  text-align: left; /* Aligns the link to the right */
  text-decoration: underline; /* Add underline to the text */
  text-underline-offset: 10px; /* Adjust the value to control the space */
  font-size: 15px; /* Change the font size to your desired value */
}

.date {
  text-align: center; /* Aligns the link to the right */
}

iframe {
border: none;
position: relative;
left: 50%;
transform: translate(-50%);
}

/* Center-align the title in the HTML */
.title-main {
  text-align: center;
}

.title-one {
  font-size: 23px;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px; /* Adjust the height as needed */
  background-color: #A87A2D; /* Progress bar color */
  z-index: 1000; /* Ensure it appears above other page content */
  transition: width 0.3s ease; /* Add a smooth transition effect */
}
</style>

<script> 
  // Get a reference to the progress-bar element
  const progressBar = document.getElementById("progress-bar");
  
  // Function to update the progress bar width based on scroll position
  function updateProgressBar() {
    const windowHeight = window.innerHeight;
    const pageHeight = document.body.scrollHeight - windowHeight;
    const scrollPosition = window.scrollY;
    const progress = (scrollPosition / pageHeight) * 100;
    progressBar.style.width = `${progress}%`;
  }
  
  // Add an event listener to update the progress bar as the user scrolls
  window.addEventListener("scroll", updateProgressBar);
  
  // Initial update
  updateProgressBar();
</script>

 <!-- with image: -->
 <!-- <section class="container list">
  <h1 class="title-main">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{- if eq .Kind "term" -}}
        {{- i18n .Data.Plural 1 | title -}}
        {{- print ": " -}}
      {{- end -}}
      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1>
  {{ range .Paginator.Pages }}
  <ul>
  <div class="post-container">
      <li>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      </li>
      <div class="image">
      <img class="item-image" src="{{ .Params.image }}">
      </div>
      <p class="excerpt">{{.Summary}}</p>
      <a class="read-more" href="{{ .Params.externalLink }}">Read more »</a>
  </div>
</ul>
{{ end }}
 
  <div>
    <iframe src="https://moderndataengineer.substack.com/embed" width="480" height="250"></iframe>
  </div>
  {{ partial "pagination.html" . }}
</section>

<style>

.post-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px; /* Add rounded corners to the border */
  padding: 20px;
  margin-bottom: 40px;
  background-color: #40404034;
}
 .excerpt {
  margin-bottom: 10px; /* Adds space between "info" and excerpt */
  margin-left: 150px;
  text-align: left; /* Aligns the link to the right */
  line-height: 1.8; /* Adjust the line height to your preference */

 }

 .read-more {
  display: block; /* Makes the "Read more" link a block element */
  margin-top: 30px; /* Adds space above the "Read more" link */
  margin-bottom: 20px;
  text-align: left; /* Aligns the link to the right */
  text-decoration: underline; /* Add underline to the text */
  text-underline-offset: 10px; /* Adjust the value to control the space */
  font-size: 15px; /* Change the font size to your desired value */
}

.date {
  text-align: center; /* Aligns the link to the right */
}

iframe {
border: none;
position: relative;
left: 50%;
transform: translate(-50%);
}

/* Center-align the title in the HTML */
.title-main {
  text-align: center;
}


/* Style the small rectangular image */
.item-image {
  width: 150px; /* Set the desired width */
  height: 130px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the specified dimensions */
  margin-right: 10px; /* Add spacing between the image and content */
  margin-top: 30px; /* Add spacing between the image and content */ 
  float: left; /* Float the image to the left of the content */
  border-radius: 5px; /* Add rounded corners to the border */
}


</style> -->

