{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <div id="progress-bar"></div>
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-links" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>


      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
  <style>
    #progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px; /* Adjust the height as needed */
    background-color: #A87A2D; /* Progress bar color */
    z-index: 1000; /* Ensure it appears above other page content */
    transition: width 0.3s ease; /* Add a smooth transition effect */
  }

  .title-links {
  font-size: 25px;
}
  </style>

<script> 
  // Get a reference to the progress-bar element
  const progressBar = document.getElementById("progress-bar");
  
  // Function to update the progress bar width based on scroll position
  function updateProgressBar() {
    const windowHeight = window.innerHeight;
    const pageHeight = document.body.scrollHeight - windowHeight;
    const scrollPosition = window.scrollY;
    const progress = (scrollPosition / pageHeight) * 100;
    progressBar.style.width = `${progress}%`;
  }
  
  // Add an event listener to update the progress bar as the user scrolls
  window.addEventListener("scroll", updateProgressBar);
  
  // Initial update
  updateProgressBar();
</script>
{{ end }}

